*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type:none;
}
.c{
	clear:both;
}
#head{
	width:980px;
	overflow:hidden;
	margin:0 auto;
	/* border:1px solid red; */
}
#head-left{
	width:266px;
	height:78px;
	float:left;
	/* border:1px solid red; */
	margin-top:20px;
}
#head-right{
	width:480px;
	height:30px; 
	float:right; 
	background:url('/images/home/login/1.png') 0px -450px no-repeat;
	/* border:1px solid red; */
	margin-top:68px;	
}
#body-left{
	width:200px;
	/* border:1px solid red; */
	margin-top:30px;
	float:left;
}
#body-right{
	float:right;
	width:350px;
	/* border:1px solid red; */
	margin-right:20px;
	margin-top:50px;
	line-height:50px;
}
#zc,label,#agree,#mima{
	color:#4c4c4c
}
#get{
	background:#d0d0d0;
	color:#a7a0a0;
	width:70px;
	height:30px;
	padding-left:10px;
}
.a{
	height:30px;
	width:250px;
	
}
#b{
	height:30px;
}
#button{
	vertical-align:center;
	background:#dc0787;
	width:100px;
	height:40px;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	border-radius:6px;
}
#email{
	font-size:12px;
	float:right;
	padding-right:100px;
	color:#1d94d1;
	padding-top:15px;
	/* border:1px solid red; */
}
#agree{
	font-size:12px;
	/* border:1px solid red; */
	padding-right:-100px;
}
#denglu{
	height:40px;
	width:150px;
	background:url('/images/home/login/1.png') -151px -171px;
	margin-top:15px;
}
#forget{
	float:right;
	font-size:12px;
	margin-right:80px;
}
#free{
	color:#f10180;
}