span.error {
    font:13px Arial;
    color:gray;
    background:url(/images/admin/login/error.gif) no-repeat left center;
    margin: 0 0 0 5px;
    padding: 0 0 0 15px;
}
span.right {
    background:url(/images/admin/login/right.gif) no-repeat left center;
    margin: 0 0 0 5px;
    padding: 0 0 0 15px;
}